{% extends "layout.html" %}

{% block title %} Compras {% endblock %}

{% block content %}

    <section >
        <h1 class="dialogo">Compras</h1>
    </section>
    <section class="sectionBlanco ">
        <div class="flex container">
            <div class="caja">
                <p>En RecipeRealm seleccionamos cuidadosamente los mejores ingredientes de nuestros supermercados aliados:</p>
            </div>
            <a href="https://www.jumbo.com" target="_blank">
                <img src="/static/img/cartelMadera.png" alt="Jumbo" height="90px">
            </a>
            <a href="https://www.coto.com" target="_blank">
                <img src="/static/img/cartelMadera.png" alt="Coto" height="90px">
            </a>
            <a href="https://www.carrefour.com" target="_blank">
                <img src="/static/img/cartelMadera.png" alt="Carrefour" height="90px">
            </a>
        </div>
    </section>

    <h1 class="container espacioAbajo">¿Cómo funciona la sección de compra?</h1>

    <section class="sectionBlanco ">
        <div class="flex container">
            <img src="/static/img/ingredientes.png" alt="Ingredientes" height="150px">
            <div class="caja">
                <h1>1. Seleccionar ingredientes</h1>
                <p>Al visualizar una receta, tenés la opción de marcar los ingredientes que no tenés en tu hogar. Estos se agregarán a una “lista de compras”
                </p>
            </div>
        </div>
    </section>

    <section class="sectionBlanco ">
        <div class="flex container">
            <div class="caja">
                <h1>2. Ver precios</h1>
                <p>Una vez seleccionados los ingredientes la plataforma te va a mostrar cuanto costarían estos ingredientes en cada uno de los supermercados disponibles.</p>
            </div>
            <img src="/static/img/precios.png" alt="Precios" height="180px">
        </div>
    </section>

    <section class="sectionBlanco ">
        <div class="flex container">
            <img src="/static/img/elegirSupermercado.png" alt="Supermercado" height="180px">
            <div class="caja">
                <h1>3. Elegir el supermercado</h1>
                <p>Despues de elegir el supermercado verás el precio de los productos y con un botón podrás ir al supermercado elegido.
                </p>
            </div>
        </div>
    </section>

    <section class="cuadroCompras container">
        <p class="pPequeño">Cada supermercado tiene su propia sección de compras con promociones y descuentos actualizados, por lo que te recomendamos revisar los precios antes de completar la compra.</p>
    </section>
 
    {% endblock %}