{% extends "layout.html" %} {% block title %} Editar Receta {% endblock %} {%
block content %}

<section class="">
  <div class="dialogo">
    <h1>Editar receta</h1>
  </div>
  <form
    class="containerRegistro flex"
    action="{{ url_for('dashboard_bp.editarreceta', receta_id=receta.id) }}"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="formDerechaRegistro">
      <div class="formRegistro">
        <label for="tituloReceta">Título</label>
        <input
          type="text"
          id="tituloReceta"
          name="titulo_receta"
          value="{{ receta.titulo }}"
        />
      </div>

      <div class="formRegistro">
        <label for="ingredientes">Ingredientes</label>
        <textarea
          id="ingredientes"
          name="lista_ingredientes"
          placeholder="Ejemplo: 500g de arroz, 1 litro de agua"
          class="textareaRegistro"
        >
{{ receta.lista_ingredientes }}</textarea
        >
      </div>

      <div class="formRegistro">
        <label for="categorias">Categorías</label>
        <input
          type="text"
          id="categorias"
          name="lista_categorias"
          value="{{ receta.lista_categorias }}"
        />
      </div>

      <div class="formRegistro">
        <label for="descripcion">Descripción</label>
        <textarea
          id="descripcion"
          name="descripcion"
          placeholder="Escribe la preparación paso a paso"
          class="textareaRegistro"
        >
{{ receta.descripcion }}</textarea
        >
      </div>

      <div class="formRegistro">
        <label for="foto">Foto de la receta</label>
        <input type="file" id="foto" name="foto" accept="image/*" />
      </div>
    </div>

    <div class="formDerechaRegistro">
      <button type="submit" class="btnRojo">Actualizar receta</button>
    </div>
  </form>
</section>

{% endblock %}
