{% extends "layout.html" %} {% block title %} Editar Receta {% endblock %} {%
block content %}
<h1>Editar Receta</h1>

<form method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="titulo_receta">Título de la receta:</label>
    <input
      type="text"
      class="form-control"
      id="titulo_receta"
      name="titulo_receta"
      value="{{ receta.titulo }}"
      required
    />
  </div>

  <div class="form-group">
    <label for="lista_ingredientes">Ingredientes:</label>
    <textarea
      class="form-control"
      id="lista_ingredientes"
      name="lista_ingredientes"
      rows="4"
      required
    >
{{ receta.lista_ingredientes }}</textarea
    >
  </div>

  <div class="form-group">
    <label for="lista_categorias">Categorías:</label>
    <input
      type="text"
      class="form-control"
      id="lista_categorias"
      name="lista_categorias"
      value="{{ receta.lista_categorias }}"
      required
    />
  </div>

  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <textarea
      class="form-control"
      id="descripcion"
      name="descripcion"
      rows="4"
      required
    >
{{ receta.descripcion }}</textarea
    >
  </div>

  <div class="form-group">
    <label for="foto">Foto (opcional):</label>
    <input type="file" class="form-control" id="foto" name="foto" />
    {% if receta.foto %}
    <img src="{{ receta.foto }}" alt="Foto actual" width="100" />
    {% endif %}
  </div>

  <button type="submit" class="btn btn-primary">Guardar cambios</button>
</form>

{% endblock %}
