{% extends "layout.html" %} {% block title %} Editar Perfil {% endblock %} {%
block content %}
<section>
  <div class="">
    <div class="dialogo">
      <h1>Editar perfil</h1>
    </div>
    <form
      method="POST"
      class="containerRegistro flex"
      enctype="multipart/form-data"
    >
      <div class="formRegistro">
        <div class="formRegistro">
          <label for="nombre">Nombre:</label>
          <input
            type="text"
            id="nombre"
            name="nombre"
            value="{{ user.nombre }}"
            required
          />
        </div>
        <div class="formRegistro">
          <label for="usuario">Usuario:</label>
          <input
            type="text"
            id="usuario"
            name="usuario"
            value="{{ user.usuario }}"
            required
          />
        </div>
        <div class="formRegistro">
          <label for="foto">Foto de perfil:</label>
          <input type="file" id="foto" name="foto" accept="image/*" />
        </div>
        <div class="formRegistro">
          <label>¿Eres un chef profesional?</label>
          <div>
            <input
              type="radio"
              id="aficionado"
              name="chef"
              value="Aficionado"
              required
            />
            <label for="aficionado">Aficionado</label>

            <input type="radio" id="chef" name="chef" value="Chef" required />
            <label for="chef">Chef</label>
          </div>
        </div>
      </div>
      <div class="formDerechaRegistro">
        <label for="bio">Descripción:</label>
        <textarea id="bio" name="bio" required>{{ user.bio }}</textarea>
        <br />
        <button type="submit" class="btnRojo">Actualizar</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
