{% extends "layout.html" %} {% block title %} Nosotros {% endblock %} {% block
content %}

<section>
  <div class="container">
    <div class="perfil">
      <img src="{{ user.foto }}" alt="Foto de perfil" class="perfil-img" />
      <div class="perfilInfo">
        <h2>{{user.usuario}}</h2>
        <p class="perfilTitulo">{{user.chef}}</p>
      </div>
    </div>
    <div class="sobreMi">
      <p>Sobre mi</p>
    </div>
  </div>

  <div class="containerRegistro">
    <p><strong>Nombre:</strong>{{user.nombre}}</p>
    <p><strong>Descripción:</strong></p>
    <p>{{user.bio}}</p>
    <a href="{{ url_for('dashboard_bp.editarperfil') }}">
      <button class="btnRojo">Editar</button></a
    >
  </div>
</section>

{% endblock %}
