{% extends "layout.html" %} {% block title %} Nosotros {% endblock %} {% block
content %}

<section>
  <div class="container">
    <div class="perfil">
      <img src="{{ user.foto }}" alt="Foto de perfil" class="perfil-img" />
      <div class="perfilInfo">
        <h2>{{user.usuario}}</h2>
        <p class="perfilTitulo">{{user.chef}}</p>
      </div>
    </div>
    <div class="sobreMi">
      <p>Sobre mí</p>
    </div>
  </div>

  <div class="containerRegistro">
    <div class="containerDatosPerfil">
      <p><strong>Nombre:</strong>{{user.nombre}}</p>
      <p><strong>Descripción:</strong></p>
      <p>{{user.bio}}</p>
    </div>
    <div class="containerBotones">
      <a href="{{ url_for('dashboard_bp.editarperfil') }}">
        <button class="btnRojo">Editar Perfil</button></a
      >
      <a href="{{ url_for('auth.logout') }}">
        <button class="btnRojo">Cerrar Sesión</button></a
      >

      <form
        action="{{ url_for('auth.eliminarperfil') }}"
        method="POST"
        style="display: inline"
        onsubmit="return confirm('¿Estás seguro de que deseas eliminar tu perfil? Esta acción no se puede deshacer.');"
      >
        <button type="submit" class="btnRojo">Eliminar perfil</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}
