{% extends "layout.html" %}

{% block title %} Nosotros {% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="perfil">
            <img src="perfil.jpg" alt="Foto de perfil" class="perfil-img">
            <div class="perfilInfo">
                <h2>{{user.nombre}}</h2>
                <p class="perfilTitulo">Chef</p>
            </div>

        </div>
        <div class="sobreMi">
            <p>Sobre mi</p>
        </div>
    </div>

    <div class="containerRegistro">
        <p><strong>Nombre:</strong> Ricardo Fort</p>
        <p><strong>Descripción:</strong></p>
        <p>Saca la mano de ahí caraj*. Me gusta mucho la cocina cuando mi mama no mete el tenedor en el enchufe.</p>
        <p>Especializado en cocina de MAIAMEE</p>
        
        <button class="btnRojo">Editar</button>
    </div>
</section>

{% endblock %}