{% extends "layout.html" %} {% block title %} Nosotros {% endblock %} {% block
content %}

<section>
  <div class="barraBusqueda">
    <input type="text" placeholder="Buscar..." />
    <button>
      <img
        src="{{ url_for('static', filename='img/search-icon.png') }}"
        alt="Buscar"
        width="20px"
      />
    </button>
  </div>
</section>

<section class="espacioAbajo">
  <h1 class="container espacioAbajo">Mis Recetas</h1>
</section>

<section class="cursosNuevos container">
  {% for receta in recetasInfo %}
  <div class="recetaTarjet">
    <a
      href="{{ url_for('dashboard_bp.get_receta_by_id', receta_id=receta.id) }}"
    >
      <img src="{{ receta.foto }}" alt="Receta" />
    </a>
    <h3>{{ receta.titulo_receta }}</h3>
    <div class="caja-botones">
      <a
        href="{{ url_for('dashboard_bp.editarreceta', receta_id=receta['id']) }}"
        class="btnRojo btnMisCursos"
        >Editar</a
      >
      <form
        action="{{ url_for('dashboard_bp.eliminarreceta') }}"
        method="POST"
        style="display: inline"
        onsubmit="return confirm('¿Estás seguro de que deseas eliminar la receta? Esta acción no se puede deshacer.');"
      >
        <input type="hidden" name="receta_id" value="{{ receta.id }}" />
        <button type="submit" class="btnRojo">Eliminar receta</button>
      </form>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}
