{% extends "layout.html" %}

{% block title %} Nosotros {% endblock %}

{% block content %}

    <section >
        <h1 class="dialogo">RecipeRealm</h1>
    </section>

    <section class="sectionBlanco ">
        <div class="flex container">
            <img src="/static/img/descubri.png" alt="Descubri" height="150px">
            <div class="caja">
                <h1>Descubrí recetas</h1>
                <p>Explorá una gran variedad de recetas deliciosas para cada ocasión. Desde platillos sencillos hasta creaciones gourmet, te ayudamos a encontrar lo que mejor se adapte a tu gusto.</p>
            </div>
        </div>
    </section>

    <section class="sectionBlanco ">
        <div class="flex container">
            <div class="caja">
                <h1>Compartí Recetas</h1>
                <p>¡Tu cocina es única! Compartí tus mejores recetas con la comunidad y dejá que otros descubran tus platillos favoritos.</p>
            </div>
            <img src="/static/img/comparti.png" alt="Comparti" height="150px">
        </div>
    </section>

    <section class="sectionBlanco ">
        <div class="flex container">
            <img src="/static/img/guarda.png" alt="Guarda" height="150px">
            <div class="caja">
                <h1>Guardá recetas</h1>
                <p>Encontraste una receta que te encantó? Guardala en tu colección personal para tenerla siempre a mano y prepararla cuando quieras.
                </p>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <img src="/static/img/carpinchoConGorrito.png" alt="">
            <div class="botones container btnNosotros">
                <button class="registro btn btnVerdeNosotros">Registro</button>
            </div>
            <div class="botones container btnNosotros">
                <button class="btnRojo btn">Iniciar sesión</button>
            </div>
        </div>
    </section>

    {% endblock %}