{% extends "layout.html" %}

{% block title %} Preguntas frecuentes {% endblock %}

{% block content %}


    <section >
        <h1 class="dialogo">Preguntas frecuentes</h1>
    </section>

    <section class="sectionBlanco">
        <div class="container">
            <div class="preguntas">
                <h1>¿Cuánto tiempo tengo para corregir una receta antes de publicarla?</h1>
                <p>No hay límite de tiempo, podés tomar todo el tiempo que necesites para revisar y corregir la receta antes de publicarla.</p>
            </div>
            <div class="preguntas">
                <h1>¿Puedo eliminar una receta publicada por error?</h1>
                <p>Sí, si publicaste una receta por error, podés eliminarla en cualquier momento.</p>
            </div>
            <div class="preguntas">
                <h1>¿Qué debo hacer si alguien tiene dudas sobre mi receta?</h1>
                <p>Los usuarios pueden dejar comentarios o hacer preguntas, y podés responder para aclarar cualquier duda.</p>
            </div>
            <div class="preguntas">
                <h1>¿Cuánto tiempo tengo acceso a los cursos?</h1>
                <p>En caso de que el curso sea virtual, tendrás acceso de por vida a su grabación.</p>
            </div>        
            <div class="preguntas">
                <h1>¿Qué pasa si cometo un error al escribir una receta?</h1>
                <p>Siempre tenés la opción de editar o corregir una receta antes de publicarla de manera definitiva.</p>
            </div>        
            <div class="preguntas">
                <h1>¿Tienen soporte en vivo o asistencia técnica?</h1>
                <p>Sí, ofrecemos soporte técnico por chat y correo electrónico durante horas laborales.</p>
            </div>
            <div class="preguntas">
                <h1>¿Qué sucede si no puedo completar el curso en la fecha indicada?</h1>
                <p>Podés comunicarte con nosotros para reprogramar o discutir opciones según las políticas del curso.</p>
            </div>
            <div class="preguntas">
                <h1>¿Puedo cambiarme de curso una vez inscrito?</h1>
                <p>Sí, dependiendo de la política del curso, puedes solicitar un cambio de curso dentro de un período determinado.</p>
            </div>
            <div class="preguntas">
                <h1>¿Qué sucede si no asisto al curso presencial?</h1>
                <p>No hay reembolso si no asistís al curso presencial, pero si es un curso virtual, las clases quedan grabadas y podés acceder a ellas cuando lo necesites.</p>
            </div>
            <div class="preguntas">
                <h1>¿Puedo transferir mi inscripción a otra persona?</h1>
                <p>La inscripción no es transferible. Cada inscripción es personal y única.</p>
            </div>
            <div class="preguntas">
                <h1>¿Es posible personalizar las recetas según las preferencias dietéticas?</h1>
                <p>Puedes hacer modificaciones en las recetas para adaptarlas a tus necesidades dietéticas, y algunas plataformas permiten etiquetar recetas con opciones como "vegetariana", "sin gluten", etc.</p>
            </div>
            <div class="preguntas">
                <h1>¿Qué debo hacer si alguien tiene dudas sobre mi receta?</h1>
                <p>Los usuarios pueden dejar comentarios o hacer preguntas, y podés responder para aclarar cualquier duda.</p>
            </div>
            <div class="preguntas">
                <h1>¿Puedo añadir fotos o videos a mis recetas?</h1>
                <p>Únicamente podés agregar imágenes para ilustrar los pasos de la receta y hacerla más visualmente atractiva.</p>
            </div>
        </div>
    </section>

    <section class="opinion">
        <div class="dialogo">
            <h1>Contanos tu opinión</h1>
        </div>
        <div class="opinionContainer">
            <div>
            <p>En caso de que no hayas encontrado la respuesta que buscabas pordes enviarnos tu duda u opinion en el siguiente cuadro de texto.</p>
            <h1>Muchas gracias</h1>
        </div>
            <div class="form">
                <textarea placeholder="Escribe tu opinión aquí..."></textarea>
                <button class="enviar">Enviar</button>
            </div>
        </div>

{% endblock %}