{% extends "layout.html" %}

{% block title %} Subir curso {% endblock %}

{% block content %}

<section class="">
    <div class="dialogo">
        <h1>Subir curso</h1>
    </div>
        <form class="containerRegistro flex" action="{{ url_for('dashboard_bp.subircurso') }}" method="POST" enctype="multipart/form-data">
            <div class="formDerechaRegistro" >
            <div class="formRegistro">
                <label for="tituloCurso">Titulo</label>
                <input type="text" id="tituloCurso" name="titulo_curso" placeholder="Como hacer...">
            </div>
    
            <div class="formRegistro flex">
                <div>
                    <label for="lugar">Lugar/Sitio web</label>
                    <input type="text" id="lugar" name="lugar" placeholder="Avenida ejemplo">
                </div>
                <div>
                    <label for="cupos">Cupos disponibles</label>
                    <input type="text" id="cupos" name="cupos" placeholder="25">
                </div>
                <div>
                    <label for="precio">Precio</label>
                    <input type="text" id="precio" name="precio" placeholder="25">
                </div>
            </div>

            <div class="formRegistro">
                <label for="fecha">Fecha del curso</label>
                <input type="date" id="fecha" name="fecha">
            </div>
            <div>
                <label for="hora">Hora del curso</label>
                <input type="time" id="hora" name="hora">
            </div>
            <div>
                <label for="dificultad">Dificultad</label>
                <div>
                    <div class="filtros">
                        <!-- Principiante -->
                        <input type="radio" class="cursoPrincipiante" id="principiante" name="dificultad" value="Principiante" hidden required>
                        <div class="dificultad cursoPrincipiante" onclick="document.getElementById('principiante').checked = true;">
                            <div>
                                <span>Principiante</span>
                            </div>
                            <div>
                                <img src="/static/img/espada.png" alt="espada">
                            </div>
                        </div>
                    
                        <!-- Intermedio -->
                        <input type="radio" class="cursoIntermedio" id="intermedio" name="dificultad" value="Intermedio" hidden required>
                        <div class="dificultad cursoIntermedio" onclick="document.getElementById('intermedio').checked = true;">
                            <div>
                                <span>Intermedio</span>
                            </div>
                            <div>
                                <img src="/static/img/espada.png" alt="espada">
                                <img src="/static/img/espada.png" alt="espada">
                            </div>
                        </div>
                    
                        <!-- Avanzado -->
                        <input type="radio" class="cursoAvanzado" id="avanzado" name="dificultad" value="Avanzado" hidden required>
                        <div class="dificultad cursoAvanzado" onclick="document.getElementById('avanzado').checked = true;">
                            <div>
                                <span>Avanzado</span>
                            </div>
                            <div>
                                <img src="/static/img/espada.png" alt="espada">
                                <img src="/static/img/espada.png" alt="espada">
                                <img src="/static/img/espada.png" alt="espada">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="formRegistro">
                <label for="foto">Foto ilustrativa</label>
                <input type="file" id="foto" name="foto" accept="image/*">
            </div>
            </div>
            

            
    
            <div  class="formDerechaRegistro">
                <div>
                    <label for="desCurso">Descripcion</label>
                    <textarea id="desCurso" name="desCurso" placeholder="Breve descripción del curso..." class="textareaRegistro"></textarea>
                </div>

        
                <button type="submit" class="btnRojo">Subir curso</button>
            </div>
        </form>
</section>

{% endblock %}