{% extends "layout.html" %}

{% block title %} Subir curso {% endblock %}

{% block content %}

<section class="">
    <div class="dialogo">
        <h1>Subir curso</h1>
    </div>
        <form class="containerRegistro flex" action="{{ url_for('dashboard_bp.subircurso') }}" method="POST">
            <div class="formDerechaRegistro" >
            <div class="formRegistro">
                <label for="tituloCurso">Titulo</label>
                <input type="text" id="tituloCurso" name="titulo_curso" placeholder="Como hervir huevos y sobrevivir">
            </div>
    
            <div class="formRegistro flex">
                <div>
                    <label for="lugar">Lugar/Sitio web</label>
                    <input type="text" id="lugar" name="lugar" placeholder="Avenida siempre viva 742">
                </div>
                <div>
                    <label for="cupos">Cupos disponibles</label>
                    <input type="text" id="cupos" name="cupos" placeholder="25">
                </div>
                <div>
                    <label for="precio">Precio</label>
                    <input type="text" id="precio" name="precio" placeholder="25">
                </div>
            </div>

            <div class="formRegistro">
                <label for="fecha">Fecha del curso</label>
                <input type="date" id="fecha" name="fecha">
            </div>
            <div>
                <label for="hora">Hora del curso</label>
                <input type="time" id="hora" name="hora">
            </div>
            <div>
                <label for="dificultad">Dificultad</label>
    <div class="filtros">
        <!-- Principiante -->
        <input type="radio" id="principiante" name="dificultad" value="0" required>
        <label for="principiante" class="dificultad">
            <span>Principiante</span>
            <img src="/static/img/espada.png" alt="Principiante">
        </label>

        <!-- Intermedio -->
        <input type="radio" id="intermedio" name="dificultad" value="1" required>
        <label for="intermedio" class="dificultad">
            <span>Intermedio</span>
            <img src="/static/img/espada.png" alt="Intermedio">
            <img src="/static/img/espada.png" alt="Intermedio">
        </label>

        <!-- Avanzado -->
        <input type="radio" id="avanzado" name="dificultad" value="2" required>
        <label for="avanzado" class="dificultad">
            <span>Avanzado</span>
            <img src="/static/img/espada.png" alt="Avanzado">
            <img src="/static/img/espada.png" alt="Avanzado">
            <img src="/static/img/espada.png" alt="Avanzado">
        </label>
            </div>

            </div>
            

            
    
            <div  class="formDerechaRegistro">
                <div>
                    <label for="desCurso">Descripcion</label>
                    <textarea id="desCurso" name="desCurso" placeholder="1- poner el agua a hervir" class="textareaRegistro"></textarea>
                </div>

        
                <button type="submit" class="btnRojo">Subir curso</button>
            </div>
        </form>
</section>

{% endblock %}