{% extends "layout.html" %}

{% block title %} Curso - bla bla bla {% endblock %}

{% block content %}

<section>
    <section class="sectionBlanco">
        
        <div class="container">
            <div>
                <h1>Cursos</h1>
            </div>


            <div >
                <h2>{{curso.titulo}}</h2>
                <div class="flex preguntas">
                    <span>Dificultad: {{ curso.dificultad }} </span> 
                    <div class="espada">
                        {% if curso.dificultad == 'Principiante' %}
                            <img src="/static/img/espada.png" alt="Espada">
                        {% elif curso.dificultad == 'Intermedio' %}
                            <img src="/static/img/espada.png" alt="Espada">
                            <img src="/static/img/espada.png" alt="Espada">
                        {% elif curso.dificultad == 'Avanzado' %}
                            <img src="/static/img/espada.png" alt="Espada">
                            <img src="/static/img/espada.png" alt="Espada">
                            <img src="/static/img/espada.png" alt="Espada">
                        {% endif %}
                    </div>
                </div>

                <div class="cursoInfo preguntas">
                    <div class="cursoImagen">
                        <img src="{{ curso.foto }}" alt="Tapas españolas">
                    </div>
                    <div class="cursoDescripcion">
                        <p>{{ curso.descripcion }}</p>
                    </div>
                </div>

                <div class="preguntas">
                    <p><strong>Fecha:</strong> {{ curso.fecha }}</p>
                    <p><strong>Hora:</strong> {{ curso.hora }}</p>
                    <p><strong>Lugar:</strong> {{ curso.lugar }}</p>
                    <p><strong>Precio:</strong> ${{ curso.precio }}</p>
                </div>

                <div class="cursoInstructor">
                    <img src="{{ curso.instructor.foto }}" alt="Instructor foto">
                    <p>Impartido por <strong>{{ curso.instructor.nombre }}</strong></p>
                </div>

                <div>
                    <p class="espacioAbajo">¡Apúrate! Quedan {{curso.cupos_disponibles}} cupos disponibles.</p>
                    <button class="btnRojo">Inscribirme</button>
                </div>
            </div> 
        </div>
    </section>
</section>

<section class="container">
    <h1>Más cursos de este chef</h1>
</section>


<section class="container top">
    {% if masCursos %}
        {% for curso in masCursos %}
        <div class="tarjetLargo container">
            <div class="flex">
                <div class="tarjetImg">
                    <img src="{{ curso['foto'] }}" alt="Imagen de {{ curso['titulo'] }}">
                </div>
                <div class="tarjetContenido">
                    <h2>{{ curso['titulo'] }}</h2>
                    <p>
                        {{ curso['descripcion'] | truncate(150) }}
                    </p>
                    <div class="espada">
                        {% if curso.dificultad == 'Principiante' %}
                            <img src="/static/img/espada.png" alt="Espada">
                        {% elif curso.dificultad == 'Intermedio' %}
                            <img src="/static/img/espada.png" alt="Espada">
                            <img src="/static/img/espada.png" alt="Espada">
                        {% elif curso.dificultad == 'Avanzado' %}
                            <img src="/static/img/espada.png" alt="Espada">
                            <img src="/static/img/espada.png" alt="Espada">
                            <img src="/static/img/espada.png" alt="Espada">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>    
        {% endfor %}
    {% else %}
        <p>No hay más cursos disponibles de este instructor.</p>
    {% endif %}
</section>


<section class="cursosNuevos container">
    <h2>Cursos Nuevos</h2>
    {% for curso in nuevosCursos %}
        <div class="cursoTarjet">
            <img src="{{ curso['foto'] }}" alt="{{ curso['titulo'] }}" class="curso-imagen" />
            <h3>{{ curso['titulo'] }}</h3>
            <p><strong>Precio:</strong> ${{ curso['precio'] }}</p>
            <p>{{ curso['dificultad'] }}</p>
        <div class="espada">
            {% if curso.dificultad == 'Principiante' %}
                <img src="/static/img/espada.png" alt="Espada">
            {% elif curso.dificultad == 'Intermedio' %}
                <img src="/static/img/espada.png" alt="Espada">
                <img src="/static/img/espada.png" alt="Espada">
            {% elif curso.dificultad == 'Avanzado' %}
                <img src="/static/img/espada.png" alt="Espada">
                <img src="/static/img/espada.png" alt="Espada">
                <img src="/static/img/espada.png" alt="Espada">
            {% endif %}
        </div>
        </div>
    {% endfor %}
</section>

{% endblock %}