{% extends "layout.html" %}

{% block title %} Curso - bla bla bla {% endblock %}

{% block content %}

<section>
    <section class="sectionBlanco">
        
        <div class="container">
            <div>
                <h1>Cursos</h1>
            </div>


            <div >
                <h2>{{curso.titulo}}</h2>
                <div class="flex preguntas">
                    <span>Dificultad: {{ curso.dificultad }} </span> 
                    <div class="espada">
                        {% if curso.dificultad == 'Principiante' %}
                            <img src="/static/img/espada.png" alt="Espada">
                        {% elif curso.dificultad == 'Intermedio' %}
                            <img src="/static/img/espada.png" alt="Espada">
                            <img src="/static/img/espada.png" alt="Espada">
                        {% elif curso.dificultad == 'Avanzado' %}
                            <img src="/static/img/espada.png" alt="Espada">
                            <img src="/static/img/espada.png" alt="Espada">
                            <img src="/static/img/espada.png" alt="Espada">
                        {% endif %}
                    </div>
                </div>

                <div class="cursoInfo preguntas">
                    <div class="cursoImagen">
                        <img src="{{ curso.foto }}" alt="Tapas españolas">
                    </div>
                    <div class="cursoDescripcion">
                        <p>{{ curso.descripcion }}</p>
                    </div>
                </div>

                <div class="preguntas">
                    <p><strong>Fecha:</strong> {{ curso.fecha }}</p>
                    <p><strong>Hora:</strong> {{ curso.hora }}</p>
                    <p><strong>Lugar:</strong> {{ curso.lugar }}</p>
                    <p><strong>Precio:</strong> ${{ curso.precio }}</p>
                </div>

                <div class="cursoInstructor">
                    <img src="/static/img/estrellaAmarilla.png" alt="Instructor">
                    <p>Impartido por <strong>Ricardo Fort</strong></p>
                </div>

                <div>
                    <p class="espacioAbajo">¡Apúrate! Quedan {{curso.cupos_disponibles}} cupos disponibles.</p>
                    <button class="btnRojo">Inscribirme</button>
                </div>
            </div>

            <div class="preguntas">
                <h3>Comentarios</h3>
                <div class="comentario">
                    <p><strong>Tia Paola</strong></p>
                    <div class="comentarioEstrellas">
                        <img src="/static/img/estrellaAmarilla.png" alt="1 estrella">
                        <img src="/static/img/estrellaAmarilla.png" alt="2 estrellas">
                        <img src="/static/img/estrellaAmarilla.png" alt="3 estrellas">
                        <img src="/static/img/estrellaAmarilla.png" alt="4 estrellas">
                        <img src="/static/img/estrellaAmarilla.png" alt="5 estrellas">
                    </div>
                    <p>Tremendo curso. Me conseguí novia cocinando esto. Recomiendo.</p>
                    <p class="comentarioFecha">28/07/2024</p>
                </div>

                <div class="comentario">
                    <p><strong>Ricardo</strong></p>
                    <div class="comentarioEstrellas">
                        <img src="/static/img/estrellaAmarilla.png" alt="1 estrella">
                        <img src="/static/img/estrellaAmarilla.png" alt="2 estrellas">
                        <img src="/static/img/estrellaAmarilla.png" alt="3 estrellas">
                    </div>
                    <p>No me gustan las tapas españolas. Así que ni idea por qué hice este curso.</p>
                    <p class="comentarioFecha">28/07/2024</p>
                </div>
            </div>

            <div class="cursoResena preguntas">
                <h4>Deja tu comentario</h4>
                <textarea placeholder="Ingresa tu comentario..."></textarea>
                <div class="cursoPuntaje">
                    <p>Selecciona un puntaje</p>
                    <div class="puntajeEstrellas">
                        <img src="/static/img/estrellaGris.png" alt="1 estrella">
                        <img src="/static/img/estrellaGris.png" alt="2 estrellas">
                        <img src="/static/img/estrellaGris.png" alt="3 estrellas">
                        <img src="/static/img/estrellaGris.png" alt="4 estrellas">
                        <img src="/static/img/estrellaGris.png" alt="5 estrellas">
                    </div>
                </div>
                <button class="enviar">Enviar</button>
            </div>
        </div>
    </section>
</section>

<section class="container">
    <h1>Más cursos de este chef</h1>
</section>


<section class="container top">
    <div class="tarjetLargo container">
        <div class="flex">
        <div class="tarjetImg">
            <img src="/static/img/estrellaGris.png" alt="Imagen">
        </div>
        <div class="tarjetContenido">
            <h2>Title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab possimus ex itaque laudantium optio rem, impedit quidem voluptatem nihil commodi voluptas, dignissimos, enim quo ratione praesentium repellat et sapiente in?
            </p>
            
        </div>
        </div>
        <div class="flex">
            <div class="container">
                <button class="btnRojo top">Ver más</button>
            </div>

        </div>
        <div class="tarjetIconos espada">
            <img src="/static/img/espada.png" alt="espada">
            <img src="/static/img/espada.png" alt="espada">
        </div>
    </div>    
</section>
<section class="container top">
    <div class="tarjetLargo">
        <div class="flex">
        <div class="tarjetImg">
            <img src="/static/img/estrellaGris.png" alt="Imagen">
        </div>
        <div class="tarjetContenido">
            <h2>Title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab possimus ex itaque laudantium optio rem, impedit quidem voluptatem nihil commodi voluptas, dignissimos, enim quo ratione praesentium repellat et sapiente in?
            </p>
            
        </div>
        </div>
        <div class="flex">
            <div class="container">
                <button class="btnRojo top">Ver más</button>
            </div>

        </div>
        <div class="tarjetIconos espada">
            <img src="/static/img/espada.png" alt="espada">
            <img src="/static/img/espada.png" alt="espada">
        </div>
    </div>   
    </section> 

<section class="cursosNuevos container top">
    <h2>Cursos Nuevos</h2>
    <div class="cursoTarjet">
        <img src="/static/img/espada.png" alt="Curso1">
        <h3>Text</h3>
        <p>$0</p>
        <p>Body text.</p>
    </div>
    <div class="cursoTarjet">
        <img src="/static/img/espada.png" alt="Curso2">
        <h3>Text</h3>
        <p>$0</p>
        <p>Body text.</p>
    </div>
    <div class="cursoTarjet">
        <img src="/static/img/espada.png" alt="Curso3">
        <h3>Text</h3>
        <p>$0</p>
        <p>Body text.</p>
    </div>
</section>

{% endblock %}