
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E4FDE1;
}

.navbar {
    background-color: #223490; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    position: relative;
}
.navbar::after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px; /* Ajusta el grosor de la línea */
    background-color: #223490; /* Color de la línea */
    position: absolute;
    bottom: -8px; /* Ajusta la posición de la línea */
    left: 0;
    z-index: 1;
}

.navLinks {
    display: flex;
    list-style: none;
}

.navLinks li {
    margin-right: 30px;
}

.navLinks a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.navLinks a:hover {
    text-decoration: underline;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.logo img {
    height: 150px;
    margin-top: 68px;
}

.botones {
    display: flex;
    gap: 10px;
}

.botones .btn {
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

.botones .iniciarSesion {
    background-color: white;
    color: #223490;
    border: 2px solid #223490;
}

.botones .registro {
    background-color: #2caf3d; 
    color: white;
    border: none;
}

.botones .btn:hover {
    opacity: 0.8;
}

footer{
    background-color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
}
