
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
font-family: "Nova Mono", monospace; ------ Titulos (h1)
font-family: "Nova Square", sans-serif; --- Subtitulos (h2)
font-family: "Fira Code", monospace; ------ Textos
font-family: "K2D", sans-serif; ----------- Nav/Footer
*/

body {
    background-color: #E4FDE1;
}

.navbar {
    background-color: #223490; 
    display: flex;
    justify-content: space-between;
    font-family: "K2D", sans-serif;
    align-items: center;
    padding: 25px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar::after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #223490;
    position: absolute;
    bottom: -8px;
    left: 0;
    z-index: 1;
}

.navLinks {
    display: flex;
    list-style: none;
}

.navLinks li {
    margin-right: 30px;
}

.navLinks a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.navLinks a:hover {
    text-decoration: underline;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.logo img {
    height: 150px;
    margin-top: 68px;
}

.botones {
    display: flex;
    gap: 10px;
}

.botones .btn {
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

.botones .iniciarSesion {
    background-color: white;
    color: #223490;
    border: 2px solid #223490;
}

.botones .registro {
    background-color: #2caf3d; 
    border: 2px solid #2E6A27;
    color: white;
    border: none;
}

.registro:hover {
    background-color: #2E6A27;
}
.iniciarSesion:hover {
    background-color: #EF4423;
}
.btnRojo:hover {
    background-color: #EF4423;
}
/*----------------------------------- CONTENIDO SECCIONES... que me pierdo entre tanto xd ------------------------------------*/
.btnNosotros {
    justify-content: center;

}
.btnVerdeNosotros {
    height: 42px;
    width: 212px;
    margin-bottom: 5px;
    margin-top: -8px;
    border: #2E6A27;
}
.btnRojo {
    background-color: #FFD8D2;
    color: black;
    border: 2px solid #F47878;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}

section{
    padding-top: 80px;
}
p{
    font-size: 20px;
    font-style: normal;
    font-family: "Fira Code", monospace;

}
h1{
    font-family: "Nova Square", sans-serif;
}

.dialogo {
    background-image: url('/static/img/dialogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 160px;
    width: 300px;
    color: black;
    text-align: center;
    font-family: "Fira Code", monospace;
    padding-top: 20px;
    margin: 0 auto;
    margin-bottom: -50px;

}

.sectionBlanco{
    background-color: white;
    display: flex;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    
}

.caja{
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    font-family: "Fira Code", monospace;
    text-align: left;


}

.flex{
    display: flex;
}

.flex img{
    align-self: center;
}

.preguntas{
    margin-top: 10px;
    text-align: left;
}

/*-------------------------------------- FOOTER... que me pierdo entre tanto xd ---------------------------------------*/

.footerBlanco {
    background-color: white;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer{
    padding-top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.arbustos {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 2;
    margin-bottom: -5px;
    left: 0;
    bottom: 0;
}

.arbustos img {
    width: 100%;
    height: auto;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 30px auto;
    padding-bottom: 30px;
    color: #2A3492;
    font-family: "K2D", sans-serif;
    border-top: 2px solid #2A3492;
    border-bottom: 2px solid #2A3492;
}

.logoFooter {
    margin: 20px 0 20px;
    height: 250px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.redes {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}

.redes p{
    margin-left: 30px;
    
}

.redes a{
    text-decoration: none;
    color: #2A3492;
}

.redes img {
    margin-left: 30px;
    margin-right: 10px;
}

.footer-nav {
    margin-top: 20px;
    display: flex;
    justify-content: left;
    gap: 15px;
    padding: 0 30px 0 30px;
}

.footer-nav a {
    text-decoration: none;
    color: rgb(51, 50, 50);
    font-size: 14px;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.copy{
    display: flex;
    justify-content: right;
    padding: 0 30px 30px;
    font-size: 10px !important;
    margin-top: -18px;
}

