<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>RecipeRealm</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navLinks">
            <li><a href="{{ url_for('compras') }}">Compras</a></li>
            <li><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
            <li><a href="{{ url_for('preguntas') }}">Preguntas frecuentes</a></li>
        </ul>
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="/static/img/Logo.png" alt="Logo">
            </a>
        </div>
        <div class="botones">
            <a href="#" class="btn iniciarSesion">Iniciar sesión</a>
            <a href="#" class="btn registro">Registro</a>
        </div>
    </nav>
</body>
</html>