<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Nova+Square&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Nova+Mono&family=Nova+Square&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <nav class="navbar">
        <ul class="navLinks">
            <li><a href="{{ url_for('dashboard_bp.compras') }}">Compras</a></li>
            <li><a href="{{ url_for('dashboard_bp.nosotros') }}">Nosotros</a></li>
            <li><a href="{{ url_for('dashboard_bp.preguntas') }}">Preguntas frecuentes</a></li>
        </ul>
        <div class="logo">
            <a href="{{ url_for('dashboard_bp.home') }}">
                <img src="/static/img/Logo.png" alt="Logo">
            </a>
        </div>
        <div class="botones"> 
            {% if 'email' in session %}
                <div class="desplegable">
                    <button class="btn btnUser usuario" onclick="alternarDesplegable()">Usuario</button>
                    <div id="menuUsuario" class="contenidoDesplegable">
                        <a href="{{ url_for('dashboard_bp.perfil') }}">Mi perfil</a>
                        <a href="{{ url_for('dashboard_bp.recetas') }}">Recetas</a>
                        <a href="{{ url_for('dashboard_bp.subirreceta') }}">Subir receta</a>
                        <a href="{{ url_for('dashboard_bp.misrecetas') }}">Mis recetas</a>
                        <a href="{{ url_for('dashboard_bp.cursos') }}">Cursos</a>
                        {% if session.get('chef') == 'Chef' %}
                            <a href="{{ url_for('dashboard_bp.subircurso') }}">Subir curso</a>
                            <a href="{{ url_for('dashboard_bp.miscursos') }}">Mis cursos</a>
                        {% endif %}
                        <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
                    </div>
                </div>
            {% else %}
                <a href="{{ url_for('dashboard_bp.login') }}" class="btn iniciarSesion">Iniciar sesión</a>
                <a href="{{ url_for('dashboard_bp.registro') }}" class="btn registro">Registro</a>
            {% endif %}
        </div>  
    </nav>

    <div class="content">
        {% block content %}
        
        {% endblock %}
    </div>

    <div class="arbustos">
        <img src="/static/img/arbustos.png" alt="Arbustos">
    </div>
    <footer>
        <div class="contenido footerBlanco">
            <div>
                <img src="/static/img/Logo.png" alt="Logo" class="logoFooter">
            </div>
            <div class="footer-info">
                <div class="redes">
                    <img src="/static/img/ubi.png" alt="direccion">
                    <p>123 Av. Calle en Buenos Aires, Buenos Aires Charlottesville, CA, 12345</p>
                </div>
                <div class="redes">
                    <img src="/static/img/telefono.png" alt="direccion">
                    <p>+54 9 01123213</p>
                </div>
                <div class="redes">
                <p>Redes Sociales:</p>
                    <a href="#"><img src="/static/img/facebook.png" alt=""></a>
                    <a href="#"><img src="/static/img/twitter.png" alt=""></a>
                    <a href="#"><img src="/static/img/youtube.png" alt=""></a>
                    <a href="#"><img src="/static/img/instagram.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="footer-nav">
            <a href="#">Sobre Nosotros</a>
            <a href="#">Contáctanos</a>
            <a href="#">Ayuda</a>
            <a href="#">Políticas de Privacidad</a>
            <a href="#">Avisos</a>
        </div>
        <div >
            <p class="copy">Copyright © 2024 - Delfino Constanza - Leonardelli Sofia - Sosa Nazarena</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
</body>
</html>
